* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #f5e9d0;
  color: #4d5b73;
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: #4d5b73;
}
