<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Classic Layouts (oooo, retro!)</title>
        <link href="styles.css" rel="stylesheet">
        <!--<script src=" "></script>-->
    </head>
    <body>
        <div class="header">Header</div>
            <div class="content clearfix">
                <div class="sidebar">
                    Sidebar
                </div>

                <div class="main">
                    Main
                </div>

                <div class="ads">
                    Ads
                </div>
            </div>
        <div class="footer">Footer</div>
        <!--<script type="text/javascript" src=" "></script>-->
    </body>
</html>
