<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Classic Layouts (oooo, retro!)</title>
        <link href="styles.css" rel="stylesheet">
        <!--<script src=" "></script>-->
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            Header
        </div>

        <!-- CONTENT-->
        <div class="content clearfix">

            <!-- SIDEBAR-->
            <div class="sidebar">
                <!-- ul>li*4>a -->
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                    <li><a href="#">Link3</a></li>
                    <li><a href="#">Link4</a></li>
                </ul>
            </div>

            <!-- MAIN -->
            <div class="main">
                <!-- p*5>lorem -->
                <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie
                    macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I
                    love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
                <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie
                    macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I
                    love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
                <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie
                    macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I
                    love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
                <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie
                    macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I
                    love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
                <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie
                    macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I
                    love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
            </div>

            <!-- ADS -->
            <div class="ads">
                Ads
            </div>
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, illo iure obcaecati quas repellendus
                voluptate! Accusamus, corporis culpa cum ea earum et illum laboriosam magnam nobis quae quia quos
                totam!</p>
            <p> Copyright &copy;</p>
        </div>

        <!--<script type="text/javascript" src=" "></script>-->
    </body>
</html>
