/* CLASSES */

.block {
    width: 200px;
    height: 200px;
    background-color: #4d5b73;
    color: #fff;
    /* transition order: property, duration, function, delay */
    transition: color 1s ease 0s,
                background-color .5s linear 0s,
                border-radius 20s ease 0s
}

.block:hover {
    color: #000;
}

/* JQUERY CLASSES */

.rounded {
    background-color: #d6bcbd;
    border-radius: 100px;
}