/* BASIC */

body {
    font-family: sans-serif;
    /*background-color: #A7ADB3;*/
}

/* CLASSES */

.container {
    max-width: 500px;
    min-width:450px;
    margin: 0 auto;
    background-color: #fff;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px), screen and (max-height: 700px) {
    .container {
        max-width: 800px;
        font-size: 2rem;
    }

    h1 {
        font-family: serif;
    }
}

@media only screen and (min-width: 701px) {
    .container {
        max-width:960px;
    }
}