<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <!-- Call the ejs include command and provide the path to the
         partial to include. Path is relative to this file -->

    <!-- Include our head.ejs file -->
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <!-- Include the header of the page -->
      <% include ../partials/header %>
    </header>
    <div class="container">
      <h3>I'm awesome because:</h3>
      <ul>
        <% reasons.forEach(function(reason, i) { %>
          <li><%= reason.reason %><a href="/about/<%=i%>"> X</a></li>
        <% }); %>
      </ul>
      <!-- The action of the form points to the same route, but the method
           is 'POST'. We will be capturing the form input from the input box
           'myReason' -->
      <form class="" action="/about" method="post">
        <label for="myReason">More reasons:</label>
        <input type="text" name="myReason" id="myReason">
        <button type="submit">Add</button>
      </form>
    </div>

    <!-- Include the footer of the page -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
