<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <!-- Call the ejs include command and provide the path to the
         partial to include. Path is relative to this file -->

    <!-- Include our head.ejs file -->
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <!-- Include the header of the page -->
      <% include ../partials/header %>
    </header>

    <div class="container">
      <!-- Include the tagline string -->
      <!-- This opening EJS tag includes an '=' sign. This tells EJS to
           ouput the value of the string -->
      <h3 class="tagline"><%= tagline %></h3>

      <h4>Friends</h4>
      <% friends.forEach(function(friend) { %>
        <li><%= friend.name %></li>
      <% }); %>
    </div>

    <!-- Include the footer of the page -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
